.nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    padding: 18px 25px 32px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    box-sizing: border-box;
    overflow-y: scroll;
}

.nav-menu__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu__logo {
    margin-left: 24px;
}

.nav-menu__search {
    margin-left: auto;
}

.nav-menu__social-links {
    display: flex;
    margin-top: 268px;
}

.nav-menu__langs {
    margin: 40px 0 0;
}