@font-face {
    font-family: 'TT Lakes';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url('./TTLakes-Regular.eot') format('eot'),
        url('./TTLakes-Regular.ttf') format('ttf'),
        url('./TTLakes-Regular.woff') format('woff');
}

@font-face {
    font-family: 'TT Lakes';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url('./TTLakes-Medium.eot') format('eot'),
        url('./TTLakes-Medium.ttf') format('ttf'),
        url('./TTLakes-Medium.woff') format('woff');
}

@font-face {
    font-family: 'TT Lakes';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url('./TTLakes-Bold.eot') format('eot'),
        url('./TTLakes-Bold.ttf') format('ttf'),
        url('./TTLakes-Bold.woff') format('woff');
}