.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    background-color: #FFF;

    @media screen and (min-width: $screen-lg) {
        display: none;
    }

    &__social-links {
        display: none;

        @media screen and (min-width: 500px) {
            display: flex;
        }
    }

    &__link {
        display: flex;
        align-items: center;

        &::after {
            content: '';
            width: 2px;
            height: 32px;
            background-color: #EAEAEA;
            border-radius: 1px;
            display: none;
            transform: translateX(60px);

            @media screen and (min-width: 500px) {
                display: flex;
            }
        } 
    }

    &__column {
        display: flex;
        align-items: center;
        gap: 16px; 
    }

    &__logo {
        @media screen and (min-width: 500px) {
            margin-left: 24px;
        }
    }
}