.prices {
  background-color: $background-grey;
  padding: 0 0 38px;

  @media screen and (min-width: $screen-md) {
    padding: 0 0 34px;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 0 0 50px;
  }

  &__wrapper {
    padding: 16px 16px 0;
    box-sizing: border-box;

    @media screen and (min-width: $screen-md) {
      padding: 24px 24px 0;
    }

    @media screen and (min-width: $screen-lg) {
      padding: 24px 32px 0;
    }
  }

  &__row {
    display: none;

    @media screen and (min-width: $screen-md) {
      display: grid;
      grid-template-columns: 1fr 85px 85px 120px;
      gap: 20px;
      align-items: center;
      height: auto;
      box-sizing: border-box;
      padding: 7px 16px 16px;
    }

    @media screen and (min-width: $screen-lg) {
      grid-template-columns: 1fr 120px 120px 120px;
      padding: 7px 24px 16px;
    }

    @media screen and (min-width: 1200px) {
      gap: 100px;
    }
  }

  &__list {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (min-width: $screen-md) {
      flex-wrap: wrap;
      gap: 0;
      border-radius: 6px;
      overflow: hidden;
    }
  }

  &__item {
    display: block;
    flex-grow: 1;
    width: 100%;

    &::after {
      @media screen and (min-width: $screen-md) {
        content: '';
        height: 1px;
        width: 100%;
        background-color: $divider-grey;
        position: absolute;
        z-index: 1;
      }
    }
  }

  &__additional {
    padding: 0 16px;
    margin: 16px 0 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $dark-grey;

    @media screen and (min-width: $screen-md) {
      padding: 0 24px;
      margin: 24px 0 0;
      max-width: 420px;
    }

    @media screen and (min-width: $screen-lg) {
      padding: 0 32px;
      margin: 32px 0 0;
    }
  }

  &__offer {
    display: flex;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $dark-grey;
    text-decoration: none;
    margin: 16px 16px 0;

    @media screen and (min-width: $screen-md) {
      margin: 16px 24px 0;
    }

    @media screen and (min-width: $screen-lg) {
      margin: 16px 32px 0;
    }

    &::after {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('../img/arrow-right-red.svg');
      position: absolute;
      bottom: 1px;
      right: 160px;

      @media screen and (min-width: 323px) {
        position: static;
      }
    }
  }
}
