.logo {
    display: flex;
    align-items: center;
    min-height: 50px;
    min-width: 96px;
    background-image: url('../../images/logo.svg');
}

.logo::before {
    content: '';
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    display: none;
    transform: translateX(-20px);
}

@media screen and (min-width: 500px) {
    .logo {
        margin-left: 24px;
}

    .logo::before {
        display: flex;
        
    }
}