.about__title {
    display: flex;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin: 24px 16px 0 0;
}

.about__title::before {
    content: '';
    height: 40px;
    width: 4px;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-right: 12px;
    border-radius: 50% 0 0 50%;
}

@media screen and (min-width: 1000px) {
    .about__title {
        margin: 0;
    }

    .about__title::before {
        margin-right: 30px;
    }
}