.about__info-paragraph {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin: 0 0 20px;
}

.about__info-paragraph:last-child {
    margin: 0;
}

@media screen and (min-width: 650px) {
    .about__info-paragraph {
        line-height: 20px;
    }
}