@media screen and (min-width: 650px) {
    .about__bottom-container {
        display: flex;
        justify-content: space-between;
        gap: 48px;
    }
}

@media screen and (min-width: 1000px) {
    .about__bottom-container {
        gap: 36px;
    }
}

