// Брейкпоинты
$screen-md: 650px;
$screen-lg: 1000px;

// Цвета

$dark-grey: #1B1C21;
$grey: #7E7E82;
$light-grey: #B5B6BC;
$background-grey: #F8F8F8;
$divider-grey: #EAEAEA;
$pink: #FF3E79;
$green: #41F6D7;
$light-green: #D9FFF5;
$white: #FFF;
$grey-overlay: rgba(255, 255, 255, 0.96);