.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    background-color: #FFF;
}

.menu__social-links {
    display: none;
}

.menu__link {
    display: flex;
    align-items: center;
}

.menu__column {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu__link::after {
    content: '';
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    display: none;
    transform: translateX(60px);
}


@media screen and (min-width: 500px) {
    .menu__social-links {
        display: flex;
    }

    .menu__link::after {
        display: flex;
        
    }

    .menu__logo {
        margin-left: 24px;
    }
}

@media screen and (min-width: 1000px) {
    .menu {
        display: none;
    }
}