.service {
    background-color: #F8F8F8;;
    padding: 0 0 38px;
    border-top: 1px solid #D9FFF5;
}

.service__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    margin: 0;
    padding: 16px;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.service__wrapper {
    padding: 16px 16px 0;
    box-sizing: border-box;
}

.service__list {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.service__list-item {
    display: block;
    flex-grow: 1;
}

.service__list-item--hidden {
    display: none;
}

.service__card {
    min-width: 240px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.service__card-logo {
    object-fit: contain;
}

.service__expand {
    display: none;
}

@media screen and (min-width: 650px) {
    .service {
        padding: 0 0 34px;
    }

    .service__title {
        padding: 16px 24px;
    }

    .service__wrapper {
        padding: 24px 24px 0;
    }

    .service__list {
        flex-wrap: wrap;
        gap: 16px 24px;
    }

    .service__list--hidden {
        max-height: 160px;
        overflow: hidden;
    }

    .service__card {
        min-width: 224px;
    }

    .service__expand {
        display: flex;
        margin: 24px 0 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .service {
        padding: 0 0 34px;
    }

    .service__title {
        padding: 16px 32px;
    }

    .service__wrapper {
        padding: 24px 32px 0;
    }

    .service__list {
        gap: 16px 32px;
    }

    .service__card {
        min-width: 240px;
    }

    .service__expand {
        margin-left: 32px;
    }
}