.tools-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tools-links::before {
    content: '';
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
}

.tools-links--mobile {
    display: none;
}

.tools-links__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

@media screen and (min-width: 1000px) {
    .tools-links {
        gap: 32px;
    }

    .tools-links::before {
        display: none;
    }

    .tools-links--mobile {
        display: flex;
    }
}